<?php
    $linkMenu=array();
	
	$linkMenu[] = array(
     	'item'  => '&nbsp;Inicio&nbsp;',
        'link'  => 'home/asignaciones_solicitudes_pendientes.php',
        'pgn'   => 'home/asignaciones_solicitudes_pendientes.php',
        'alt'   => '&nbsp;Inicio&nbsp;'
    );
     
    $linkMenu[] = array(
     	'item'  => '&nbsp;Tramites&nbsp;',
        'link'  => 'tramites/index.php',
        'pgn'   => 'tramites/index.php',
        'alt'   => '&nbsp;Tramites&nbsp;'
    );
    
    $linkMenu[] = array(
     	'item'  => '&nbsp;Salidas&nbsp;',
        'link'  => 'nota_salida/ver_notas_salida.php',
        'pgn'   => 'nota_salida/ver_notas_salida.php',
        'alt'   => '&nbsp;Salidas&nbsp;'
    );
    
    $linkMenu[] = array(
     	'item'  => '&nbsp;Expedientes&nbsp;',
        'link'  => 'bandeja_expediente/index.php',
        'pgn'   => 'bandeja_expediente/index.php',
        'alt'   => '&nbsp;Expedientes&nbsp;'
    );
    
   $linkMenu[] = array(
     	'item'  => '&nbsp;Solicitudes&nbsp;',
        'link'  => 'solicitud/index.php',
        'pgn'   => 'solicitud/index.php',
        'alt'   => '&nbsp;Solicitudes&nbsp;'
    );
    
    $linkMenu[] = array(
     	'item'  => '&nbsp;Configuraci&oacute;n&nbsp;',
        'link'  => 'administracion/index.php',
        'pgn'   => 'administracion/index.php',
        'alt'   => '&nbsp;Configuraci&oacute;n&nbsp;'
    );
    
	$linkMenu[] = array(
     	'item'  => '&nbsp;Seguridad&nbsp;',
        'link'  => 'seguridad/index.php',
        'pgn'   => 'seguridad/index.php',
        'alt'   => '&nbsp;Seguridad&nbsp;'
    );
   
    $linkMenu[] = array(
        'item'  => '&nbsp;Recuperar Autom&aacute;tico&nbsp;',
        'link'  => 'seguridad/recuperar.php',
        'pgn'   => 'seguridad/recuperar.php',
        'alt'   => '&nbsp;Recuperar Autom&aacute;tico&nbsp;'
    );
   
?>
